* {
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;300&family=Cinzel&family=Dancing+Script&family=K2D:wght@200&family=Krona+One&family=Manrope:wght@200;300&family=Nunito:wght@600&family=Passions+Conflict&family=Playfair+Display&family=Titillium+Web:wght@300&display=swap');

body {
    font-family: 'Inter' !important;
}

.nav-link {

    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -0.1px;
    color: #0D0A19;
    margin-right: 20px;
}


.signup {
    color: #9A9EA7;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 21px;
    letter-spacing: -0.1px;
}

.signup img {
    border-radius: 10px;
    background: var(--greys-f-5-f-6-f-7, #F5F6F7);
    width: 30px;
    height: 25px;
    padding: 5px 8px;
}

.section1 {
    background-image: url(./Landing/bg/Rectangle.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 560px;
}

.section1 h1 {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 74px;
    letter-spacing: -0.305px;
    padding-top: 100px;
}

.section1-p {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 27px;
    margin-top: 20px;
}

.TopFooterSection {
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 3px 4px 0px rgba(153, 155, 168, 0.15);
    max-width: 945px;
    height: 80px;
    position: absolute;
    margin: 0 auto;
    bottom: 269px;
    left: 27%;
    z-index: 99;
    width: 98%;
}